.box{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* max-width: 500px; */
  /* background: white; */
}
.slider{
  width: 150px;
  height: 30px;
  background: red;
  display: inline-block;
  position: absolute;
  bottom: 300px;
}

.score{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoretxt{
  font-size: 32px;
  font-family:sans-serif;
  color: rgb(181, 174, 174);
}

.scores{
  font-size: 100px;
  color: rgb(122, 125, 129);
}

.ball{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  position: absolute;
}